.headerprincipal {
    background-color: #3C8DE9;
    height: 12%;
    margin: 0;
    padding-bottom: 10px;
    padding-left: 10px;
}

.titulo {
    color: whitesmoke;
    margin: 0;
    height: 100%;
}